html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body{
    background-color: rgb(202, 243, 243);
    background-image: url(resources/image-background1.jpg);
    background-size: 100%;
}
.my-button1{
    background-color:white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 24px;
    border-radius:23px;
    border-color: rgb(2, 200, 200);
    color: rgb(2, 200, 200);
    margin-left:90px;
    border-style: solid;
    transition: background-color 0.6s,
      color 0.6s,
      padding-top 0.6s,
      padding-bottom 0.6s,
      padding-right 0.6s,
      padding-left 0.6s,
      font-size 0.6s,
      opacity 0.6s;
  }

  .my-button1:hover{
    background-color: rgb(2, 200, 200);
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 18px;
    padding-left: 18px;
    font-size: 30px;
    border-radius: 52px;
    opacity: 0.9;
  }
  .my-button1:active {
    opacity: 0.7;
  }   
.my-button{
    background-color:white;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 24px;
    border-radius:23px;
    border-color: rgb(2, 200, 200);
    color: rgb(2, 200, 200);
    margin-left:20px;
    border-style: solid;
    transition: background-color 0.6s,
      color 0.6s,
      padding-top 0.6s,
      padding-bottom 0.6s,
      padding-right 0.6s,
      padding-left 0.6s,
      font-size 0.6s,
      opacity 0.6s;
  }

  .my-button:hover{
    background-color: rgb(2, 200, 200);
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 18px;
    padding-left: 18px;
    font-size: 30px;
    border-radius: 52px;
    opacity: 0.9;
  }
  .my-button:active {
    opacity: 0.7;
  }
  #text {
    font-size: 24px;
    margin-top: 60px;
    margin-left: 90px;
    padding-bottom: 40px;
    color: #ffffff;
    text-align: left;
  }
  h1{
    padding: 50px;
    text-align: center;
  }
  .Textbutton{
    text-align: center;
    clear: both;
  }
  .image-business{
    width: 400px;
    padding: 60px;
    height: auto;
    position: absolute;
    top: 400px;
    left: 120px;
  }
  #linkS{
    position: absolute;
    top: 0;
    left: 40%;
    display: block;
    margin-top: 20px;    
}
#linkJ{
    position: absolute;
    top: 0;
    left: 56%;
    display: block;
    margin-top: 20px;   
}